body {
    color:  #36454F;
    font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.container {
    width:  100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    " ctr ";
}

.logo {

    width: 100%;
    height: 100%;

    grid-area: ctr;
   /* place-self: center;*/

    display: grid;
    grid-template-areas:
    " svg "
    " dsc ";
}

.logo svg {
    grid-area: svg;
    align-self: end;
    justify-self: center;
    width: 35vw;
}

img {
    pointer-events: none;
    clip-path: url(#sftwr);
    -webkit-clip-path: url(#sftwr);
}

.logo h2 {
    grid-area: dsc;
    align-self: start;
    justify-self: center;
}
