.container {
    width:  100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    " ctr ";
}

.logo {

    width: 100%;
    height: 100%;

    grid-area: ctr;
   /* place-self: center;*/

    display: grid;
}

.logo svg {
    margin: auto;
    width: 30em;
}
